 .backroomstext {
    font-size:medium;
    background-color:transparent;
    font-weight:bolder;
 }
 #abcd {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
 }